
.color-detalle{
    background: rgb(155, 152, 152);

}
.logo{
    width: 80px!important;
    height: 80px!important;
}
.foto {
    /* width: 350px!important; */
    max-height: 300px!important;
   
}
.pedido a{
   text-decoration: none !important;
   cursor: pointer !important;
   color:aliceblue !important;
}
